<p id="notice"><%= notice %></p>

<p>
  <strong>Causa:</strong>
  <%= @comentario.causa %>
</p>

<p>
  <strong>Usuario:</strong>
  <%= @comentario.user.email %>
</p>

<p>
  <strong>Data:</strong>
  <%= @comentario.data %>
</p>

<p>
  <strong>Comentario:</strong>
  <%= @comentario.comentario %>
</p>

<%= link_to 'Edit', edit_comentario_path(@comentario) %> |
<%= link_to 'Back', comentarios_path %>
